*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
a{
  color: inherit !important;
  text-decoration: none;
}
body{
  background: black;
  color: white;
  font-family: 'Finlandica', sans-serif;
}

header h1{
  letter-spacing: 2px;
  display: flex;
  font-size: 1.5em;
  align-items: center;
}
header img{
  padding-right: 15px;
  height: 38px;
}
header{
  top: 0;
  position: fixed;
  width: 100vw;
  /* background: blue; */
  padding: 0 30px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

main{
  margin-top: 70px;
}
