*{
}
header{
  background-color: black;
  z-index: 10;
}
body{
  background: linear-gradient(45deg, rgba(23,35,52,1) 23%, rgba(83,46,79,1) 50%, rgba(37,76,93,1) 80%);
  background-attachment: fixed;
}
main{
  font-size: 0.8em;
}
.cart{
  margin-top: 50px;
  margin-left: 4vw;
  flex-direction: row;
  display: flex;
  /* border-radius: 30px; */
  /* background-color: white; */
}
.image-container{
  height: 160px;
  padding: 0 30px;
  padding-right: 50px;
}
img{
  height: 100%;
}
ul{
  width: 100%;
  padding-right: 30vw;
}
.cart .item{
  margin: 30px 0;
  border-radius: 20px;
  box-sizing: content-box !important;
}
.title{
  font-size: 2em;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.type{
  font-size: 1.6em;
  color: #757575 !important;
  font-style:italic;
}
.price{
  font-size: 1.6em;
  font-weight: 500;
}
.size{
  font-size: 1.5em;
  margin-top: 10px;
}
.size-value{
  text-transform: capitalize;
  font-weight: 500;
}
.dollar-sign-item{
  font-weight: 500;
  padding-right: 2px;
  font-size: 0.8em;
}

.delete-and-price{
  padding: 0 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cart-item{
  color: white;
  background: black;
  /* width: 100%; */
  padding: 20px;
  /* border: 1px solid white; */
  border-radius: 30px;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
}
.hidden{

  animation: delete .4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.move-up{
  animation: move-up .4s;
  animation-timing-function: ease-in;
}
@keyframes delete {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-70vw);}
  100%  {transform: translateX(-70vw);}
}
@keyframes move-up {
  0%   { transform: translateY(0); }
  0%   { transform: translateY(0); }
  /* 30%   { transform: translateY(100%); } */
  100%  { transform: translateY(calc(-100% - 30px)); }
}
.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}
.order{
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* padding-right: 80px; */
  position: fixed;
  font-size: 1.25em;
  right: 0;
  width: 26vw;
  /* height: 40vh; */
  background: white;
  color: black;
  /* border-bottom-right-radius: 30px; */
  border-bottom-left-radius: 30px;
}
.price-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#price{
  font-size: 2.25em;
  font-weight: 500;
  letter-spacing: -1px;
}
.subtotal{
  font-family: Oswald;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
button{
  border-radius: 15px;
}
.dollar-sign{
  padding-top: 6px;
  padding-right: 3px;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 43.7px;
}
.checkout-btn{
  height: 3rem;
  background: black;
  color: white;
  border-color: black;
  font-size: 1.5em;
  margin-top: 50px;
  transition-duration: 0.2s;
}
.checkout-btn:hover{
  color: black;
}
.remove{
  border: 1px solid white;
  font-size: 1.4em;
  height: 2.5rem;
  padding: 0 30px;
  font-weight: 500;
  color: white;
  background: black;
  transition-duration: 0.2s;
}
.remove:hover{
  color: black;
}
