body{
  background: linear-gradient(45deg, rgba(23,35,52,1) 23%, rgba(83,46,79,1) 50%, rgba(37,76,93,1) 80%);
  background-attachment: fixed;
}
header{
  background: black;
}
main{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding: 30px 60px;
  color: black;
  width: 700px;
}
input, select, button{
  margin-bottom: 10px;
  width: 200px;
}
.button-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
button{
  background: inherit;
  border-width: 1px;
  display: block;
  height: 2.5em;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  font-size: 1.25em;
  transition-duration: 0.2s;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 15px;
}
button:hover{
  cursor: pointer;
  color: black;
  border-color: black;
  background-color: white;
}
#div_id_payment_option{
  width: 200px;
}
#div_id_payment_option .controls{
  display: flex;
  padding-left: 10px;
}
#div_id_payment_option label{
  width: 50%;
}
#div_id_payment_option input{
  width: 10px;
  box-sizing: content-box;
  position: relative;
  top: 2px;
  right: 2px;
  margin: 0;
}
.country-select-flag{
  display: none !important;
}
.label-container{
  width: 100%;
  margin-bottom: 15px;
}
h3{
  font-weight: 500;
  letter-spacing: 1px;
  /* font-family: Oswald; */
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
