header{
  background-color: black;
}
.item-block{
  width: auto;
  margin: 50px;
  margin-left: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
img{
  height: 80vh;
}
.image-container{
  padding-left: 8vw;
  background: linear-gradient(45deg, rgba(23,35,52,1) 23%, rgba(83,46,79,1) 79%, rgba(37,76,93,1) 93%);
  border-radius: 30px;
  padding-right: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.info{
  margin-top: 15px;
  font-size: 0.8em;
  margin-left: 8vw;
}
.title{
  font-size: 3em;
}
.type{
  font-size: 2.25em;
  color: #757575 !important;
  font-style:italic;
}
.price{
  margin-top: 50px;
  font-size: 2.5em;
  font-weight: 500;
}
.size-btn-container{
  margin-top: 20px;
}
.size-btn{
  font-size: 1.5em;
  background: white;
  min-width: 4rem;
  height: 3rem;
  padding: 0 8px;
  border: 1px solid white !important;
  /* border:  */
  margin-right: 5px;
  text-transform: uppercase;
  border-radius: 15px;
  transition-duration: 0.2s;
}
.size-btn:hover{
  color: white;
}
.chosen{
  color: white;
  transition-duration: 0.2s;
  background: black;
  border: 1px solid white;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: white;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-top: 20px;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  border: 1px solid white;
  transition-duration: .3s;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
  transition-duration: 0.2s;
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  font-family: inherit;
  max-width: 5rem;
  padding: .5rem;
  border: none;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.2s;
  pointer-events: none;
}
input[type=submit] {
  display: block;
  height: 2.5em;
  width: 9.15em;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5em;
  transition-duration: 0.2s;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 15px;
}
input[type=submit]:hover{
  /* font-size: 1.55em; */
  cursor: pointer;
  color: black;
  background-color: white;
  /* background: rgb(23, 35, 52); */
}

.number-input button:hover:before,
.number-input button:hover:after{
 background-color: white;
}
button:hover{
  border: 1px solid white;
  background-color: black;
}
.btn-left{
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-right{
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
