{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/97be8968f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;1,400;1,500&family=Oswald:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block links %}{% endblock %}
  </head>
  <body>
    <header>
      <h1><a style="height: 38px;" href="https://github.com/petosbratok"><img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/github.png"/></a><a href="/">merch store #1</a></h1>
      <a class="cart-link" href="/cart"><img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png"/>
        <p class='cart-count-container'>
          {% if order.get_cart_length %}
          <span id="cart-count">{{order.get_cart_length}}</span>
          {% else %}
          <span id="cart-count">0</span>
          {% endif %}
        </p>
      </a>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
  {% block scripts %}{% endblock %}
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</html>
