{% extends "shop/base.html" %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="intro">
  <p>The Shop.</p>
  <a onclick="scrollSmoothTo('shop')"><i class="fas fa-chevron-down"></i></a>
</div>
<div id="shop" class="shop">
  <div class="filter">
    <span>FILTER BY PRODUCT</span>
    <ul>
      <li onclick="filter('good')">All products</li>
      <li onclick="filter('sweatshirt')">Sweatshirts</li>
      <li onclick="filter('shirt')">Shirts</li>
      <li onclick="filter('hat')">Hats</li>
    </ul>

  </div>
  <ul class="goods">
    {% for item in goods %}
    <li class="good {{ item.type.generalType}}">
      <p>
        <a href="product/{{ item.id }}" class="item-tile">
          <img src="{{ item.photo.url }}" alt="photo">
          <span type="{{ item.type }}" class="item-title">{{ item.title }}</span>
          <span class="item-price">${{ item.price }}</span>
          {% if item.stock == 0 %}
          <span class="item-sold-out">sold out</span>
          {% else %}
          <span class="item-sold-out"></span>
          {% endif %}
        </a>
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}
