{% extends "shop/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block content %}
<div class="order">
  <h1>Order info</h1>
  <p class="segment-key">Order id: <span class="segment-value">{{ order.order_id }}</span></p>
  <div class="segment">
    <p class="segment-title">Contacts</p>
    <p class="segment-key">Full name: <span class="segment-value">{{ order.delivery_info.full_name }}</span></p>
    <p class="segment-key">Email: <span class="segment-value">{{ order.delivery_info.email }}</span></p>
    <p class="segment-key">Phone: <span class="segment-value">{{ order.delivery_info.phone }}</span></p>
  </div>
  <div class="segment">
    <p class="segment-title">Delevery info</p>
    <p class="segment-key">Country: <span class="segment-value">{{ order.delivery_info.country }}</span></p>
    <p class="segment-key">City: <span class="segment-value">{{ order.delivery_info.city }}</span></p>
    <p class="segment-key">Address: <span class="segment-value">{{ order.delivery_info.address }}</span></p>
    <p class="segment-key">Zip: <span class="segment-value">{{ order.delivery_info.zip }}</span></p>
  </div>
  <div class="segment">
    <p class="segment-title">Order info</p>
    {% for item in order.get_cart_items %}
    <p class="segment-key"><span class="segment-value">{{ item.product.title }}</span> / Size: <span style="text-transform: uppercase"class="segment-value">{{ item.size }}</span> / Quantity: <span class="segment-value">{{item.quantity}}</span> / Price: <span class="segment-value">${{item.product.price}}</span></p>
    {% endfor %}
  </div>
  <div class="segment">
    <p class="segment-title">Transaction details</p>
    {% if order.transaction_id == '9999999999999999' %}
    <p class="segment-key">Transaction status: <span class="segment-value">incomplete</span></p>
    {% else %}
    <p class="segment-key">Transaction status: <span class="segment-value">complete</span></p>
    <p class="segment-key">Transaction id: <span class="segment-value">{{ order.transaction_id }}</span></p>
    {% endif %}
    <p class="segment-key">Total: <span class="segment-value">${{order.get_cart_total}}</span></p>
  </div>
</div>
{% endblock %}
