{% extends 'shop/base.html' %}
{% load static %}

{%  block links %}
	<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
	<div class="item-block">
		<div class="image-container">
			<img src="{{ product.photo.url }}" alt="photo">
		</div>
		<div class="info">
			<h3 class="title">{{product.title}}</h3>
			<p class="type">{{product.type}}</p>
			<p class="price">${{product.price}}</p>
			<form method="POST" action="{% url 'product' product.id %}">
				<div class="number-input" >
					<button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button" class="btn-left"></button>
					<input class="quantity" min="1" max="{{product.stock}}" name="quantity" value="1" type="number">
					<!-- <input min="1" value=1 type="number" name="quantity"> -->
					<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" type="button"></button>
				</div>
				{% csrf_token %}
				<input type="submit" value="Add to Cart">
			</form>

		</div>
	</div>
{% endblock content %}
